

 .image{
    background-color: aqua;
    color: blue;
    text-align: center;
    height: 300px;
    
}
.clients{
    background-color: red;
    color: aquamarine;
    height: 300px;
    text-align: center;

}